.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: rem(60px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    //background-color: rgba(71, 85, 105, 0.5);
    backdrop-filter: blur(4px);
}


